*{
  font-family: Arial;
}
#controller {
  margin: 0 auto;
  text-align: center;
}

#board {
  margin: 0 auto;
  width:480px;
  height:480px;
}

.row {
  display: flex;
}
.grid {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  background-color: grey;
}


.snake {
  background-color: green;
}


.fruit {
  background-color: red;
}